body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

svg {
    border: 1px solid black;
    margin: 20px;
}

.highlight {
    fill: burlywood;
}
